@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Reddit+Mono:wght@200..900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Teko:wght@300..700&display=swap');
:root {
  --orange: #ff8b00;
  --white: #fbfbfb;
  --white-bg: #f6f6f6;
  --black: #010101;
  --green: #03c04a;
  --yellow: #ece75f;
  --disabled-green: #03c04c86;
  --disabled-yellow: #ece75f3d;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--orange);
  padding: 20px 30px;
}

.navbar h1 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);
  font-family: "Anton", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.searchbar-container {
  display: flex;
  align-items: center;
  background-color: var(--white);
  padding: 5px 10px;
  border-radius: 20px;
  
}

.search-bar {
  padding: 5px 10px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 20px 0 0 20px;
  width: 200px;
}

.search-icon {
  padding: 5px 10px;
  background-color: var(--orange);
  border-radius: 0 20px 20px 0;
  color: var(--white);
  cursor: pointer;
  margin-left: 10px;
}

.orders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--white-bg);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: auto;
}

input[type="number"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
}

button {
  padding: 10px 20px;
  background-color: var(--orange);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

button:hover {
  background-color: var(--disabled-green);
}

.error-message {
  color: red;
  margin-top: 10px;
}

.orders-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.order-details {
  background-color: var(--white);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--orange);
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.order-details h3,
.order-details h4 {
  margin: 10px 0;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 6px;
  font-style: normal;
}

.order-details ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.order-details li {
  margin: 5px 0;
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.order-details li:last-child {
  border-bottom: none;
}

/* Order Status Styles */
.status {
  font-size: 20px;
  font-weight: bold;
}

/* On Hold Status */
.status[data-status="On Hold"] {
  color: red;
}

/* Working Status */
.status[data-status="Working"] {
  color: blue;
}

/* Ready to Serve Status */
.status[data-status="Ready to Serve"] {
  color: green;
}
